.cart-container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
    font-family: Arial, sans-serif;
}

h2 {
    text-align: center;
    margin-block: 20px;
}

.cart-content {
    display: flex;
    justify-content: space-between;
}
.cart-wrapper{
    width: 75%;
    border-right: 1px solid #ddd;
}

.cart-items {
    padding-right: 20px;
}

.cart-item {
    display: flex;
    border: 1px solid #ddd;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.cart-item-image {
    width: 100px;
    height: auto;
    margin-right: 15px;
    border-radius: 5px;
}

.cart-item-details {
    flex: 1;
}
.cart-item-details a{
    text-decoration: none;
}

.cart-item-title {
    font-size: 1rem;
    color: #333;
}

.cart-item-author {
    color: #777;
}

.cart-item-price {
    font-size: 1rem;
    color: #081f5c;
}

.quantity-selector {
    display: flex;
    align-items: center;
    margin: 10px 0;
    gap: .5rem;
}

.quantity-selector button {
    width: 30px;
    height: 30px;
    background-color: #f1f1f1;
    border: 1px solid #ddd;
    cursor: pointer;
    border-radius: 3px;
}

.remove-item {
    background: none;
    color: red;
    border: none;
    cursor: pointer;
    margin-top: 10px;
}
.summary-wrapper-cart{
    flex: 1;
    padding-inline: .5rem;
}
.empty-cart {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #f9f9f9; /* Light background color */
    padding: 20px;
    margin-block-start: 6rem;
}

.empty-cart h2 {
    font-size: 24px;
    color: #333; /* Dark text color */
}

.empty-cart p {
    font-size: 16px;
    color: #666; /* Gray text color */
    margin: 10px 0 20px; /* Margin around the paragraph */
}

.btn-continue {
    padding: 10px 20px;
    background-color:#081f5c; /* Primary button color */
    color: white; /* Button text color */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}
.continue-shopping-wrapper{
    padding-block-start: 20px;
    width: 100%;
}
.checkout-button,
.continue-shopping {
    background-color: #081f5c;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin: 0px auto;
    display: block;
}

/* Mobile Styles */
@media (max-width: 768px) {
    .cart-content {
        flex-direction: column; /* Stack items vertically on smaller screens */
    }
    .cart-items{
        border: none;
        padding-right: unset;
        padding: 8px;
    }
    .cart-wrapper{
        width: 100%;
    }
}